body {
	width: 500px;
	margin: 0 auto;
}
h1 {
	font-family: verdana;
	font-size: 20px;
}
p {
	background-color: #C1FFFB;
	color: #757575;
	padding: 10px;
	font-family: verdana;
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.second {
	float: left;
	width: 300px;
	margin-right: 10px;
	margin-top: 0;
}
.third {
	float: right;
	width: 150px;
	margin-top: 0;
}
.fourth {
	clear: both;
}
h3 {
	font-family: verdana;
	font-size: 15px;
	margin: 30px 0 10px 0;
	text-align: right;
}
nav {
	text-decoration: none;
	font-family: verdana;
	font-size: 12px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
	color: #757575;
	padding: 0 3px 0 3px;
}
a + a {
	border-left: solid #757575 1px;

}


