body {
   width: 500px;
   margin: 0 auto;
}
h1 {
   font-family: verdana;
   font-size: 20px;
}

header a {
   font-family: verdana;
   text-decoration: none;
   font-size: 10px;
   color: #757575;
   padding: 0 4px 0 4px;
}
header a + a {
   border-left: solid #757575 1px;
   padding-left: 4px;
}
header h1 {
   float: left;
}
header nav {
   float: right;
}
p {
   background-color: #C1FFFB;
   color: #757575;
   padding: 10px;
   font-family: verdana;
   font-size: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}






.first {
   margin-bottom: 10px;
   clear: both;
}
.second {
   width: 140px;
   margin-top: 0;
   margin-right: 0;
   float: left;
}
.third {
   float: left;
   margin-top: 0;
   width: 140px;
   margin-top: 0;
   margin-left: 10px;
}
.fourth {
   float: right;
   width: 140px;
   margin-top: 0;

}


.fifth {
   margin-top: 10px;
   clear: both;
}



footer {
   clear: both;
}
h3 {
   font-family: verdana;
   font-size: 15px;
   margin: 30px 0 10px 0;
   text-align: right;
}
 footer nav {
   text-decoration: none;
   font-family: verdana;
   font-size: 12px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
footer a {
   text-decoration: none;
   color: #757575;
   padding: 0 3px 0 3px;
}
footer a + a {
   border-left: solid #757575 1px;

}
